body {
  padding: 50px;
  background: #f0f0f0;
  font-family:Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 150%;
  margin-bottom: 2rem;
}

.page {
  border-radius: 5px;
  padding: 30px;
  background: white;
  margin: 0 auto;
  width: 600px;
  min-height: 300px;
}

canvas {
  border:1px solid black;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
  margin: 1rem 0;
}

/* The slider itself */
.slider {
	appearance: none;
	width: 100%;
	height: 25px;
	background: #aaa;
	border: 10px solid white;
	box-sizing: border-box;
}

.slider-caption {
  width: 100%;
}

.slider-caption td:nth-child(1) {
  color: red;
}

.slider-caption td:nth-child(2) {
  text-align: right;
  color: blue;
}